<!DOCTYPE html>
<html>
<head>
	<title>Store</title>
	<style type="text/css">
		.card {
  			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			max-width: 300px;
			margin: auto;
			text-align: center;
			font-family: arial;
		}

		.price {
		  color: grey;
		  font-size: 22px;
		}

		.card button {
			border: none;
			outline: 0;
			padding: 12px;
			color: white;
			background-color: #000;
			text-align: center;
			cursor: pointer;
			width: 100%;
			font-size: 18px;
		}

		.card button:hover {
			opacity: 0.7;
		}
	</style>
</head>

<body>

<h1>Our Store</h1>
<a href="/">Back to Home</a>
<br>
<br>
<a href="/cart">My Cart</a>
<br>
<br>


{% for p in products %}
<div class="card">
	<img src="static/product1.jpg" alt="made by uri" style="width:100%">
	<h1>{{p.name}}</h1>
	<p class="price">${{p.price}}</p>
	<p>{{p.description}}</p>
	
	<form action="/cart" method="POST">
	<p><button type="submit" name='added' value="{{p.productId}}">Add to Cart</button></p>
	</form>

</div>
{% endfor %}
</body>
</html>